.workspaceWindow {
    background-color: rgba(0, 0, 0, 0);
    background-size: 100%;
}

.workspaceBar {
    background-color: rgba(0, 0, 0, 0);
    background-size: 100%;
}

.workspaces {
    background-color: rgba(0, 0, 0, 0);
    background-size: 100%;
}

.workspace-button1 {
    background-image: url("images/icons/1.png");
    background-color: rgba(0,0,0,0);
    background-size: 100%;
    background-position: -1px;
}

.workspace-button3 {
    background-image: url("images/icons/2.png");
    background-color: rgba(0,0,0,0);
    background-size: 100%;
}

.workspace-button5 {
    background-image: url("images/icons/3.png");
    background-color: rgba(0,0,0,0);
    background-size: 100%;
}

.workspace-button7 {
    background-image: url("images/icons/4.png");
    background-color: rgba(0,0,0,0);
    background-size: 100%;
}

.workspace-button9 {
    background-image: url("images/icons/5.png");
    background-color: rgba(0,0,0,0);
    background-size: 100%;
}

.workspace-button11 {
    background-image: url("images/icons/6.png");
    background-color: rgba(0,0,0,0);
    background-size: 100%;
}

.workspace-button13 {
    background-image: url("images/icons/7.png");
    background-color: rgba(0,0,0,0);
    background-size: 100%;
}

.workspace-button2 {
    background-image: url("images/icons/1.png");
    background-color: rgba(0,0,0,0);
    background-size: 100%;
    background-position: -1px;
}

.workspace-button4 {
    background-image: url("images/icons/2.png");
    background-color: rgba(0,0,0,0);
    background-size: 100%;
}

.workspace-button6 {
    background-image: url("images/icons/3.png");
    background-color: rgba(0,0,0,0);
    background-size: 100%;
}

.workspace-button8 {
    background-image: url("images/icons/4.png");
    background-color: rgba(0,0,0,0);
    background-size: 100%;
}

.workspace-button10 {
    background-image: url("images/icons/5.png");
    background-color: rgba(0,0,0,0);
    background-size: 100%;
}

.workspace-button12 {
    background-image: url("images/icons/6.png");
    background-color: rgba(0,0,0,0);
    background-size: 100%;
}

.workspace-button14 {
    background-image: url("images/icons/7.png");
    background-color: rgba(0,0,0,0);
    background-size: 100%;
}



